@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$color-blue: #1e88e5;
$color-yellow: #ffeb3b;
$color-red: #ff1744;
$color-green: #76ff03;
$color-gray: #9e9e9e;
$color-lightgray: #cfcfcf;
$color-black: #212121;
$color-white: #fafafa;


@mixin ellipsis {
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow-x: hidden;
    // white-space: nowrap;
}
